/* Header.module.css */

/* Estilo del Header */
.Header {
    background-color: brown;
    display: flex;
    justify-content: space-between; /* Distribuye el contenido */
    align-items: center;
    padding: 10px 20px;
    width: 100%;
    height: 15vh;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 0 0 60% 60%;
    font-family: 'Cinzel', serif;
    color: white;
    text-align: center;
    transition: all 0.3s ease;
  }
  
  .loginButton, .logoutButton {
    padding: 10px 20px;
    background-color: #fff;
    color: brown;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .loginButton:hover, .logoutButton:hover {
    background-color: #f1f1f1; /* Efecto hover para los botones */
  }
  /* Header.module.css */

/* Estilo del Header */
.Header {
    background-color: brown;
    display: flex;
    justify-content: center; /* Centra el contenido (logo) */
    align-items: center;
    padding: 10px 20px;
    width: 100%;
    height: 15vh;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 0 0 60% 60%;
    font-family: 'Cinzel', serif;
    color: white;
    text-align: center;
    position: relative; /* Necesario para que los botones se posicionen dentro del Header */
  }
  
  .loginButton, .logoutButton {
    position: absolute;
    top: 10px; /* Ubica los botones en la parte superior */
    right: 50px; /* Ubica los botones en la esquina derecha */
    padding: 5px 12px; /* Tamaño reducido para los botones */
    background-color: #fff;
    color: brown;
    border: none;
    border-radius: 1000px;
    cursor: pointer;
    width: 10%;
    font-size: 0.9em; /* Tamaño de fuente más pequeño */
    transition: background-color 0.3s;
  }
  
  .loginButton:hover, .logoutButton:hover {
    background-color: #f1f1f1; /* Efecto hover para los botones */
  }
  