@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.registro {
  max-width: 100%;
  width: 500px;
  min-height: 450px;
  color: white;
  padding: 20px;
  background-color: brown;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  font-family: "Montserrat", sans-serif;
  text-align: center;
  margin: 20px auto;
  position: relative;
  z-index: 1;
}

.registro h1 {
  color: white;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 28px;
}

.registro p {
  color: white;
  font-size: 16px;
}

.registro label {
  color: white;
  font-size: 16px;
}

/* Estilos para los labels y inputs */
label {
  display: block;
  margin: 10px 0 5px;
  color: white;
}

input, select {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  transition: all 0.3s ease;
}

input:focus, select:focus {
  border-color: #ff7043;
  outline: none;
  box-shadow: 0 0 10px rgba(255, 112, 67, 0.5);
}

input[type="password"]:focus {
  border-color: #ff7043;
}

input[type="email"]:focus {
  border-color: #ff7043;
}

/* Estilos para el botón de envío */
button {
  padding: 12px 20px;
  background-color: #ffffff; 
  color: brown;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  width: 100%;
}

button:hover {
  color: white;
  background-color: #ffffff;
}

button:active {
  color: white;
  background-color: #800101;
}

/* Estilos para el mensaje de error y éxito */
.errorMessage {
  color: #e57373;
  margin-bottom: 15px;
}

.successMessage {
  color: #81c784;
  margin-bottom: 15px;
}

.registro a {
  color: #ff7043;
  text-decoration: none;
}

.registro a:hover {
  text-decoration: underline;
}


@media (max-width: 600px) {
  .registro {
    width: 90%;
    min-height: 400px;
  }

  input, select, button {
    font-size: 14px;
  }
}
